.sidebar {
    background-color: var(--Grey-dark-1);
    display: flex;
    flex: 0 0 18%;
    flex-direction: column;
    justify-content: space-between;
}

.side-nav{

 //   padding: 2rem 2rem;
   // font-size: 1.4rem;
   //  margin-right: auto;
   font-size: 1.4rem;
   margin-top: 3.5rem;

    &__item{
        list-style: none;
        position: relative;

        &:not(:last-child){
            margin-bottom: .5rem;
        }

    }

    &__item::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var(--color-primary);
        transform: scaleY(0);
        -webkit-transform: scaleY(0);
        -moz-transform: scaleY(0);
        -ms-transform: scaleY(0);
        -o-transform: scaleY(0);
        transform-origin: center;
        transition:        transform 0.4s, width 0.4scubic-bezier(1,0,0,1) 0.4s, background-color .1s;

}
    
    &__item:hover::before,
    &__item--active::before{
        transform: scaleY(1);
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        width: 100%;
}

&__item--active::before{
    background-color: var(--color-primary-light);
}

    &__icon{
        height: 1.5rem;
        width: 1.5rem;
        fill: currentColor;
        margin-right: 2rem;
       
    }

    &__link:link,
    &__link:visited{
        text-decoration: none;
        color: var(--Grey-light-1);
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;

        display: flex;
        align-items: center;
        position: relative;
        z-index: 10;
    }

}

//// Legal text

.legal{
    font-size: 1.2rem;
    color: #ffffff;
    text-align: center;
    padding: 2.5rem;
}

