:root {
    --color-primary: #eb2f64;
    --color-primary-light:#ff3366;
    --color-primary-dark:#ba265d;
        --Grey-light-1: #faf9f9;
        --Grey-light-2: #f4f2f2;
        --Grey-light-3: #f0eeee;
        --Grey-light-4: #ccc;

        --Grey-dark-1: #333;
        --Grey-dark-2: #777;
        --Grey-dark-3: #999 ; 
  
        --shadow-dark: 0 2rem 6rem rgba(0,0,0,0.3);
        --shadow-light: 0 2rem 5rem rgba(0,0,0, .06);

       --line: 1px solid var(--Grey-light-2);
       
}

@import"base";
@import"header";
@import"sidebar";
@import"hotel";


*{
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}





